{% extends "base.html" %}
{% load humanize %}
{% load accounts %}

{% block content %}

    <h2>
        {{ pageUser|account_name }}

        {% if user.is_staff %}
        <ul class="horizontalList">
            <li>
                <a href="{% url 'accounts:disable_confirm' pageUser.username %}">
                    {% if pageUser.is_active %}
                        disable
                    {% else %}
                        enable
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:remove_confirm' pageUser.username %}">remove</a>
            </li>
        </ul>
        {% endif %}
    </h2>

    <p>User since: {{ pageUser.date_joined }} ({{ pageUser.date_joined|naturaltime }})</p>

    <p>
        Posts: {{ pageUser.posts.count }}
    </p>

    {% if pageUser.username == user.username %}
        <p>
            API key: {{ user.api_key }}
        </p>

        <ul>
            <li><a href="{% url 'accounts:change_password' %}">change password</a></li>
            <li><a href="{% url 'accounts:new_api_key' %}">new api key</a></li>
        </ul>
    {% endif %}

{% endblock %}