{% extends "base.html" %}
{% load humanize %}

{% block content %}

    <h2>{{ user.username }}</h2>

    <p>User since: {{ user.date_joined }} ({{ user.date_joined|naturaltime }})</p>

    <p>
        API key: {{ user.api_key }}
    </p>

    <ul>
        <li><a href="{% url 'accounts:change_password' %}">change password</a></li>
        <li><a href="{% url 'accounts:new_api_key' %}">new api key</a></li>
    </ul>

    <p>
        Posts: {{ user.posts.count }}
    </p>


{% endblock %}
