#Message
    {
    background-color: rgba(201, 219, 237, 0.83);
    }

.horizontalList
    {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    }

.horizontalList > *
    {
    display: inline-block;
    }

h1
    {
    background-color: rgba(129, 199, 255, 0.61);
    }

h4
    {
    background-color: rgba(148, 217, 255, 0.61);
    }

h1, h4
    {
    padding: 0 10px;
    }

table th
    {
    background-color: rgba(139, 62, 59, 0.29);
    }

td, th
    {
    padding: 0 5px;
    }