{% load static %}
{% load accounts %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Todolist Web Api</title>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="Menu">
    <ul class="horizontalList">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>
        {% if user.is_authenticated %}
            {{ user|account_name }} ( <a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}">logout</a> )
        {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">login</a>
        {% endif %}
        </li>
    </ul>
</div>

{% if MESSAGE %}
    <p id="Message">{{ MESSAGE }}</p>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>