{% extends "base.html" %}

{% block content %}

<h1>API help</h1>

<p>
    First create an account, and get the API key in your user page.
</p>
<p>
    Then you need to make a POST request to the appropriate url, with the necessary arguments.
</p>

<h3>Return codes</h3>
<ul>
    <li>405 (method not allowed): if its not a POST request.</li>
    <li>400 (bad request): if its missing some arguments (or are invalid).</li>
    <li>201 (created): if a post was successfully created.</li>
    <li>200 (OK): if everything worked as expected.</li>
</ul>


<ul>
    <li><a href="#Info">{{ domain }}/v1/list/info</a></li>
    <li><a href="#Add">{{ domain }}/v1/list/add</a></li>
    <li><a href="#AddMultiple">{{ domain }}/v1/list/add_multiple</a></li>
    <li><a href="#Get">{{ domain }}/v1/list/get</a></li>
    <li><a href="#GetMultiple">{{ domain }}/v1/list/get_multiple</a></li>
    <li><a href="#GetAll">{{ domain }}/v1/list/get_all</a></li>
    <li><a href="#Update">{{ domain }}/v1/list/update</a></li>
    <li><a href="#UpdateMultiple">{{ domain }}/v1/list/update_multiple</a></li>
    <li><a href="#Delete">{{ domain }}/v1/list/delete</a></li>
    <li><a href="#DeleteMultiple">{{ domain }}/v1/list/delete_multiple</a></li>
    <li><a href="#DeleteAll">{{ domain }}/v1/list/delete_all</a></li>
</ul>


<h4 id="Info">{{ domain }}/v1/list/info</h4>
<p>Return information about the account.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
</table>
<pre>
returns = {
    'username': str,
    'post_count': int
}
</pre>
<a href="#Menu">top</a>


<h4 id="Add">{{ domain }}/v1/list/add</h4>
<p>Add a single post to the list.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>text</td>
        <td>The text string of a single post.</td>
    </tr>
</table>
<pre>
returns = { 'id': int }
</pre>
<a href="#Menu">top</a>


<h4 id="AddMultiple">{{ domain }}/v1/list/add_multiple</h4>
<p>Add multiple new posts.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>text[]</td>
        <td>A list of strings, of the posts to be added.</td>
    </tr>
</table>
<pre>
returns = { 'id[]': int[] }
</pre>
<a href="#Menu">top</a>


<h4 id="Get">{{ domain }}/v1/list/get</h4>
<p>Get a post from an user.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>id</td>
        <td>The post identifier.</td>
    </tr>
</table>
<pre>
returns = {
    'id': int,
    'text': str,
    'last_updated': str
}
</pre>
<a href="#Menu">top</a>


<h4 id="GetMultiple">{{ domain }}/v1/list/get_multiple</h4>
<p>Get several posts from an user.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>id[]</td>
        <td>A list of the post ids to retrieve.</td>
    </tr>
</table>
<pre>
returns = {
    'post[]': [
        {
            'id': int,
            'text': str,
            'last_updated': str
        },
        # (...)
    ]
}
</pre>
<a href="#Menu">top</a>


<h4 id="GetAll">{{ domain }}/v1/list/get_all</h4>
<p>Get all the posts from the user.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
</table>
<pre>
returns = {
    'post[]': [
        {
            'id': int,
            'text': str,
            'last_updated': str
        },
        # (...)
    ]
}
</pre>
<a href="#Menu">top</a>


<h4 id="Update">{{ domain }}/v1/list/update</h4>
<p>Update a post's text.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>id</td>
        <td>The post identifier.</td>
    </tr>
    <tr>
        <td>text</td>
        <td>The new content to be replaced.</td>
    </tr>
</table>
<a href="#Menu">top</a>


<h4 id="UpdateMultiple">{{ domain }}/v1/list/update_multiple</h4>
<p>Update several posts.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>id[]</td>
        <td>A list with the posts identifiers.</td>
    </tr>
    <tr>
        <td>text[]</td>
        <td>A list with the new text for each post. The text must have the same position as in the id list.</td>
    </tr>
</table>
<a href="#Menu">top</a>


<h4 id="Delete">{{ domain }}/v1/list/delete</h4>
<p>Delete a post.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>id</td>
        <td>The post identifier.</td>
    </tr>
</table>
<a href="#Menu">top</a>


<h4 id="DeleteMultiple">{{ domain }}/v1/list/delete_multiple</h4>
<p>Delete multiple posts.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
    <tr>
        <td>id[]</td>
        <td>A list with the posts identifiers.</td>
    </tr>
</table>
<a href="#Menu">top</a>


<h4 id="DeleteAll">{{ domain }}/v1/list/delete_all</h4>
<p>Remove all the posts of a user.</p>
<table>
    <tr>
        <th>argument</th>
        <th>description</th>
    </tr>
    <tr>
        <td>api_key</td>
        <td>To identify the user.</td>
    </tr>
</table>
<a href="#Menu">top</a>


{% endblock %}